<%_ if (styleLibrary === 'uswds') { _%>
<footer class="usa-footer" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
        <nav class="usa-footer__nav">
            <ul class="add-list-reset grid-row grid-gap">
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
                    <div class="mobile-lg:grid-col-auto">
                        <img class="usa-footer__logo-img" src="/content/images/uswds/logo-img.png" alt="">
                    </div>
                    <div class="mobile-lg:grid-col-auto">
                        <h3 class="usa-footer__logo-heading">Name of Agency</h3>
                    </div>
                </div>
                <div class="usa-footer__contact-links mobile-lg:grid-col-6">
                    <div class="usa-footer__social-links grid-row grid-gap-1">
                        <div class="grid-col-auto">
                            <a class="usa-social-link usa-social-link--facebook" href="javascript:void(0);">
                                <span>Facebook</span>
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link usa-social-link--twitter" href="javascript:void(0);">
                                <span>Twitter</span>
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link usa-social-link--youtube" href="javascript:void(0);">
                                <span>YouTube</span>
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link usa-social-link--rss" href="javascript:void(0);">
                                <span>RSS</span>
                            </a>
                        </div>
                    </div>
                    <h3 class="usa-footer__contact-heading">Agency Contact Center</h3>
                    <address class="usa-footer__address">
                        <div class="usa-footer__contact-info grid-row grid-gap">
                            <div class="grid-col-auto">
                                <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
                            </div>
                            <div class="grid-col-auto">
                                <a href="mailto:info@agency.gov">info@agency.gov</a>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>
<%_ } else if (styleLibrary === 'octo') { _%>
<footer class="usa-footer" role="contentinfo">
    <div class="usa-footer__primary-section">
        <nav class="usa-footer__nav">
            <ul class="add-list-reset grid-row grid-gap">
                <li class="mobile-lg:grid-col-3 desktop:grid-col-1 usa-footer__primary-content">
                    <img src = "/content/images/uswds/safe_partner.png" alt="safe partner" style="padding:5px; padding-top:8px;">
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                    <img src = "/content/images/uswds/cmmi_dev4.png" alt="CMMI DEV4" style="padding:5px; padding-top:16px;">
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                        <img src = "/content/images/uswds/iso_27001.png" alt="ISO 27001 Certified" style="padding:5px; padding-top:14px;">
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                        <img src = "/content/images/uswds/iso_20000.png" alt="ISO 20000 Certified" style="padding:5px; padding-top:14px;">
                </li>
                <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
                        <img src = "/content/images/uswds/iso_9001.png" alt="ISO 9001 Certified" style="padding:5px; padding-top:16px;">
                </li>
            </ul>
        </nav>
    </div>

    <div class="usa-footer__secondary-section" style="background-color:#635F5C;">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
                    <div class="mobile-lg:grid-col-auto">
                        <img class="usa-footer__logo-img" src="/content/images/uswds/logo-img.png" alt="">
                    </div>
                </div>
            </div>
            <div class = "grid-row grid-gap">
                <div class="mobile-lg:grid-col-8 desktop:grid-col-4">
                    <ul class="add-list-reset">
                        <li style = "padding-top: 25px"><span style = "font-size:18px; color:#F6891F;">Contact Us</span></li>
                        <li><span style = "color:white;">(571) 423-0200 | info@octoconsulting.com</span></li>
                        <li style = "padding-top: 25px"><span style = "font-size:18px; color:#F6891F;">Octo HQ</span></li>
                        <ul class="add-list-reset">
                            <li style = "color:white;">10780 Parkridge Boulevard</li><li style = "color:white;">4th Floor</li><li style = "color:white;">Reston,VA 20191</li>
                        </ul>
                        <li style = "padding-top: 15px">
                            <div class = "grid-row grid-gap">
                                <a><img src = "/content/images/uswds/twitter.png" alt="twitter"></a>
                                <a><img src = "/content/images/uswds/facebook.png" alt="facebook"></a>
                                <a><img src = "/content/images/uswds/linkdin.png" alt="linkdin"></a>
                                <a><img src = "/content/images/uswds/youtube.png" alt="youtube"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mobile-lg:grid-col-8 desktop:grid-col-4">
                    <ul class="add-list-reset">
                        <li style = "padding-top: 25px"><span style = "font-size:18px; color:#F6891F;">Github</span></li>
                        <li><span style = "color:white;">Octo Github Url</span></li>
                        <li style = "padding-top: 25px"><span style = "font-size:18px; color:#F6891F;">Slack</span></li>
                        <li><span style = "color:white;">Octo Slack Url</span></li>
                        <li style = "padding-top: 50px"><span style = "font-size:18px; color:#F6891F;">JIRA</span></li>
                        <li><span style = "color:white;">Octo JIRA Url</span></li>
                    </ul>
                </div>
                <div class="mobile-lg:grid-col-8 desktop:grid-col-4">
                    <ul class="add-list-reset">
                        <li style = "padding-top: 25px"><span style = "font-size:18px; color:#F6891F;">Project Link</span></li>
                        <li><span style = "color:white;">Octo Project Link Url</span></li>
                        <li style = "padding-top: 25px"><span style = "font-size:18px; color:#F6891F;">Project Link</span></li>
                        <li><span style = "color:white;">Octo Project Link Url</span></li>
                        <li style = "padding-top: 50px"><span style = "font-size:18px; color:#F6891F;">Project Link</span></li>
                        <li><span style = "color:white;">Octo Project Link Url</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<%_ } else { _%>
Footer Goes Here!
<%_ } _%>
