<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" style="background: #122E51;" role="banner">
    <div class="usa-navbar">
        <div class="usa-logo" id="extended-logo">
            <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home" style="color: #FFFFFF;"><%= baseName %></a></em>
        </div>
        <button class="usa-menu-btn">Menu</button>
    </div>
</header>
<div class="usa-header usa-header--extended header-bkg ">
<nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner"><button class="usa-nav__close"><img src="/content/images/uswds/close.svg" alt="close"></button>
        <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
                <button class="usa-nav__link" aria-controls="extended-nav-section-one">
                    <span>Section</span>
                </button>
            </li>
            <!--<li class="usa-nav__primary-item">-->
                <!--<button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false" aria-controls="extended-nav-section-one">-->
                    <!--<span>{{sections.sectionName1}}</span>-->
                <!--</button>-->
                <!--<ul id="extended-nav-section-one" class="usa-nav__submenu">-->
                    <!--<li class="usa-nav__submenu-item">-->
                        <!--<a href="#">Navigation link</a>-->
                    <!--</li>-->
                    <!--<li class="usa-nav__submenu-item">-->
                        <!--<a href="#">Navigation link</a>-->
                    <!--</li>-->
                    <!--<li class="usa-nav__submenu-item">-->
                        <!--<a href="#">Navigation link</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
<!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
        <div class="usa-nav__secondary">
            <form class="usa-search usa-search--small" style="display: flex">
                <a href="javascript:void(0)" (click)="login()" style="color: white; width: 4em; text-decoration: none">Sign in</a>
                <div role="search">
                    <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
                    <input class="usa-input" id="extended-search-field-small" type="search" name="search" placeholder="Search our site">
                    <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
                </div>
            </form>
        </div>
    </div>
</nav>
</div>
